@import "../partials/mixins";

.authorWrap {
  margin: 60px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 728px;
  width: 90%;
  border: 1px solid var(--badge-color);
  @include breakpoint-sm {
    flex-direction: row;
  }
}
.imageWrap {
  width: 100%;
  margin-bottom: 20px;
  @include breakpoint-sm {
    margin-bottom: 0;
    width: 25%;
  }
}
.authorMeta {
  margin-left: 0;
  width: 100%;
  @include breakpoint-sm {
    margin-left: 30px;
    width: 75%;
  }
}