.post_content {
  max-width: 768px;
  margin: 0 auto;
  //*:last-child, > *:last-child {
   // margin-bottom: 0;
  //}
  ol {
    padding: 0;
    margin-bottom: 60px;
  }
  p {
    line-height: 1.9em;
  }
  li {
    display: flex;
    margin: 0;
    p {
      margin-bottom: .5em;
      line-height: 1.3em;
      &:first-of-type {
        color: var(--list-color);
        width: 8%;
        padding: 2px 15px 0px 0;
        font-size: .9rem;
      }
      &:nth-of-type(2n) {
        color: var(--spanish-color);
        width: 46%;
        padding: 0 0 0px;
      }
      &:nth-of-type(3n) {
        color: var(--english-color);
        width: 46%;
        padding: 0 0 0px 15px;
      }
    }
    hr {
      border-width: 0;
      margin-bottom: 60px;
    }
    
  }
  iframe {
    margin: 0 auto 70px;
    display: block;
  }
}
